.anyline_navi{display:inline-block;margin:0 auto;}
.anyline_navi span,.anyline_navi div{display:inline-block;}
.navi-summary{display:none;}
.navi-num-item{margin-right:5px;font-size:12px;color:#666666;line-height:28px;width:30px;border:1px solid #c0c0c0;outline:none;cursor:pointer;text-align:center;}
.navi-num-item:hover, .navi-num-cur{background-color:#073190;color:white;border:1px solid #073190}

.navi-first-button,.navi-prev-button,.navi-next-button,.navi-last-button,.navi-go-button{
	margin-right:5px;font-size:12px;color:#666666;line-height:28px;width:72px;border:1px solid #c0c0c0;outline:none;cursor:pointer
}
.navi-first-button:hover,.navi-prev-button:hover,.navi-next-button:hover,.navi-last-button:hover,.navi-go-button:hover{
	background-color:#073190;color:white;border:1px solid #073190
}
.navi-go-txt{width:30px;height:28px;border:1px solid #c0c0c0;text-align:center;}


.J-navijs-go-button{margin-right:5px;font-size:12px;color:#666666;line-height:28px;width:28px;border:1px solid #c0c0c0;}
.anyline_navi .active{background-color:#073190;border:1px solid #073190;color:white}
.anyline_navi .disabled{opacity: 0.9;disabled:disabled;}
.anyline_navi .disabled:hover{opacity: 0.9;disabled:disabled;background-color:buttonface;color:#666666;border:1px solid #c0c0c0;outline:none;cursor:pointer}
.navijs-nav{display:inline-block;}
.J-navijs-go-pagenumber{display:inline-block;width:20px;}
.navijs-go-input{display:inline-block;width:30px;}
.navijs-go-button{display:inline-block;}
